body{
    background-color:lightblue;
    text-align: center;
    box-sizing: border-box;
}

.container{
    padding: 30px;
    box-sizing: border-box;
   
}
img{
    width:200px;
    height:auto;
    margin-bottom:60px;
    transform: rotateZ(30deg) translateY(20px) scale(1.1);
    /* rotate30deg in z, move 20px fromy and incresase the size 1.1times */
}
/* Transform properties
    transform-origin------used to select the point @which we want the transform to occur

    translate------move the element to x,y
    rotate---------rotates the element in a certain specified angle in x,y,z
    scale----------adjust the sizes of the element wrt its original size in x,y,z
*/

/* Transition
descibes the time in which we want an animation to take place and how it should behave

Eg. Transition: 0.3s;   ----- means the whole process should take 0.3s

we can also use transition various properties. Eg. Transition: background 0.1s 1s;
means that the background is only affected. the 2nd time reps time to delay before transition
is executed.

ease in ----------starts slow ends fast
ease out ---------starts fast end slow
*/

.circle{
    padding: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    border:1px solid #f66;
    border-radius:50%;
    height: 60px;
    width:100px;
    margin: 0px auto;
    font-size:15px;
    cursor: pointer;
    background-color:pink;
    text-align: center;
    transition: background-color 1s, transform 3s .6s;
                                    /* whole process executes in 3s, delays 0.6s b4 execution */
}

.circle:hover{
    transform: rotate(360deg) translate(200px);
    background-color:green;

}



/* Keyframes in CSS is used to dictate the behavoir of an animation at a certain point in time */